@charset "utf-8";
/* CSS Document */
body {
	height: 100%;
	width: 100%;
	margin: 0 auto;
}
ul {
	podding: 0px!important;
}
.menu-principal{
	width: 100%;
	background-color:#212020;
	height: 80px;
	
}
main{
	height: 80px;
	float: left;
	margin: 0 auto;
	width: 980px;
	position: relative;
}
.logo{
	float: left;
	width: 7%;
	
}
.nome{
	height: 60px;
	float: left;
	width: 60%;
	color: #e87b49;
	font-style: italic;
}
.redes-sociais ul li {
	display: inline-block;
	list-style: none;
	padding: 15px;
	float: right ;
	width: 5%;
}
.cabecalho-2{
	
	background-color: wheat;
	width: 980px;
	margin: 0 auto;
	padding: 12px;
}
.borda-g{
	border-bottom: 3px solid #736D6D;
	height: 80px;
}
.menu ul li{
	display: inline-block;
	color: black;
	margin-left: 20px;

}
.menu ul li a{
	color: black;
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;

}

.menu ul li a:hover {
	color: gray;
	border-bottom: 2px solid gray;

}
.coluna-100{
	width: 100%;
	float: left;
	position: relative;
}
button.slick-prev {
	font-size: 0px;
	border: none;
	width: 50px;
	height: 75px;
	background-color: transparent;
	position: absolute;
	z-index: 9;
	top: 42%;
	background-image: url('../img/esquerda.png');
	left: 7%;
}
button.slick-next{
	font-size: 0px;
	border: none;
	width: 50px;
	height: 75px;
	background-color: transparent;
	position: absolute;
	z-index: 9;
	top: 42%;
	background-image: url('../img/direita.png');
	right: 7%;
}